.headroom {
  will-change: transform;
  transition: transform 0.25s ease-in-out;
}

.headroom--pinned {
  display: block;
}

.headroom--unpinned {
  display: none;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
