    <footer class="site-footer">
        <div class="wrapper">
            <h2 class="footer-heading">{{ .Site.Title | htmlEscape }}</h2>

            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <ul class="contact-list">
                        <li>{{ .Site.Author.name }}</li>
                        <li><a href="mailto:{{ .Site.Author.email }}">{{ .Site.Author.email }}</a></li>
                    </ul>
                </div>

                <div class="footer-col footer-col-2">
                    <ul class="social-media-list">
{{ if .Site.Social.github }}
                        <li>
                            <a href="https://github.com/{{ .Site.Social.github }}"><span class="icon icon--github">{{ partial "icons/github.html" . }}</span><span class="username">{{ .Site.Social.github }}</span></a>
                        </li>
{{ end }}
{{ if .Site.Social.twitter }}
                        <li>
                            <a href="https://twitter.com/{{ .Site.Social.twitter }}"><span class="icon icon--twitter">{{ partial "icons/twitter.html" . }}</span><span class="username">{{ .Site.Social.twitter }}</span></a>
                        </li>
{{ end }}
                    </ul>
                </div>

                <div class="footer-col footer-col-3">
                    <ul class="footer-links">
                        <li>
                            <a href="{{ .Site.Params.poweredBy.url }}" target="_blank">{{ with .Site.Params.poweredBy.name }}{{ i18n "powered_by" . }}{{ end }}</a>
                        </li>
                        <li>
                            <a href="{{ .Site.Params.madeWith.url }}" class="kudos">{{ with .Site.Params.madeWith.name }}{{ i18n "made_with" . }}{{ end }} <img src="{{ .Site.BaseURL | relURL }}{{ .Site.Params.madeWith.logo }}" width="22" height="22"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{{ partial "js.html" . }}
  </body>
</html>
